
.answerCard:hover{
    border: 1px solid blue;
    transform: scale(1.04);
    transition: transform .5s ease;

}
.ask {
    border: 4px solid gray;
    border-radius: 40px;
    justify-content: center !important;
}
.mainColor{
    background-color: #f3343e;
}
.secondColor{
    background-color: #fefd3c;
}